* {
    font-family: 'Raleway';
    font-size:18px;
    vertical-align: middle;
}
body {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

header{
    /*background-image: url("http://www.wallpaperking.co.uk/7348-thickbox_default/collage-multi-colour-grey-wallpaper-2036-1.jpg"); */
    background: linear-gradient(45deg, #BC1101, #FE948A);
    color: #380E0A;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    text-transform: uppercase;
    text-align: center;
    border: 9px solid white;
    width:60%;
    margin: 2% 0;
}
nav {
    background-color: #FE948A;
    color: #380E0A;
    width:100%;
    border: 1px solid white; 
    text-align: center;
}
a {
    color: #380E0A;
    text-decoration:none;
}

h1 {
    font-family: 'Dancing Script';
    font-size: 40px;
}

main {
    height: 80%;
    background-color: #FE948A;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 5;
}

ul li{
    margin: 2%;
    display: inline-flex;
}

section {
    width: 90%;
    margin: auto;
    background-color: #FFFDFD;
    margin: 5% 2%;
    overflow: scroll;
    box-shadow: #BC1101 5px 5px;
    display: flex;
    padding: 1%;
}
#profimg {
    flex-grow: 2;
    align-self: center;
}
img {
    width: 90%;
    border: 5px solid #380E0A;
    padding: 2px;
}
article {
    line-height:1.4;
    background-color:white;
    overflow: scroll;
    flex-grow: 2;
    align-items: center;
}
article p::first-letter{
    font-size: 30px;
    text-transform: uppercase;
}
#name {
    text-transform: capitalize;
}
footer {
    background-color: #380E0A;
    color: #FE948A;
    width: 100%;
    text-align: center;
    flex-grow: 1;
}
footer p {
    font-size: 15px;
    padding: 2%;
}
ul {
    padding-left: 0;
}
footer ul li{
    font-size: 24px;
}
.fa {
    padding: 20px;
    width: 30px;
    text-decoration: none;
    margin: 25px;
    color: #FFFDFD;
    border-radius:50%;
    background-color:#FE948A;
} 

article p {
    padding-left: 20px;
} 

.button {
    width: 100%;
    height: 100%;
}

#contact{
    width:50%;
    height: auto;
    margin:50px auto;
    display:block;
    box-shadow: 5px 5px #380E0A;
    background-color: #FFFDFD;
    overflow: scroll;
    padding: 2%;
}

table tr td {
    padding: 10px;
    vertical-align: top;
}
td{
    padding: 3px;
}
input{
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
}

textarea {
    border: 1px solid black;
    border-radius: 5px;
}
