* {
    font-family: 'Raleway';
    font-size:18px;
    vertical-align: middle;
}
html{
    width: 100%;
}
body {
    height: 1500px;
    width: 80%;
    margin: auto;
}
nav {
    position: relative;
    top:30px;
    background-color: #FE948A;
    color: #380E0A;
    width:100%;
    border: 1px solid white; 
    height: auto;
    text-align: center
}
a {
    color: #380E0A;
    text-decoration:none;
}
.title{
    position: relative;
    top: 10px;
    text-transform: uppercase;
    text-align: center;
    border: 9px solid white;
    width:60%;
    margin: auto;
}
h1 {
    font-family: 'Dancing Script';
    font-size: 40px;
    padding: 2%;
}

main {
    position: relative;
    top: 2%;
    height: 90%;
    background-color: #FE948A;
    /*background: linear-gradient(45deg, #BC1101, #FE948A); */
    border: 1px solid white;
    width: 100%;
}

.menu ul li {
    padding-top: 2%;
    display:inline;
    margin: 25px;
}

header{
    height: auto;
    /*background-image: url("http://www.wallpaperking.co.uk/7348-thickbox_default/collage-multi-colour-grey-wallpaper-2036-1.jpg"); */
    background: linear-gradient(45deg, #BC1101, #FE948A);
    color: #380E0A;
}

#profimg {
    position: relative;
    top:5%;
    left: 5%;
    float:left;
    width: 30%;
    background-color: #FFFDFD;
    height: 100%;
}
img {
    width: 100%;
    height: auto;
    margin-top: 20%;
    border: 5px solid #380E0A;
    padding: 2px;
}

section {
    height: auto;
    width: 90%;
    margin: auto;
    background-color: #FFFDFD;
    margin-top: 3%;
    overflow: scroll;
    box-shadow: #BC1101 5px 5px;
}

article {
    float: right;
    position: relative;
    line-height:1.4;
    background-color:white;
    font-size: 150%;
    overflow: scroll;
    width: 50%;
}
article p::first-letter{
    font-size: 30px;
    text-transform: uppercase;
}

#name {
    text-transform: capitalize;
}

td{
    padding: 3px;
}

footer {
    position: relative;
    top: 1%;
    height: auto;
    background-color: #380E0A;
    color: #FE948A;
    bottom: 5px;
    width: 100%;
    text-align: center;
}
footer p {
    font-size: 15px;
    padding: 2%;
}
footer ul {
    padding-left: 0;
}
footer ul li{
    list-style: none;
    display: inline;
    font-size: 30px;
}
.fa {
    padding: 10px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 25px;
    color: #FFFDFD;
    border-radius:50%;
    background-color:#FE948A;
} 

article p {
    padding-left: 20px;
}

.button {
    width: 100%;
    height: 100%;
}

#contact{
    width:50%;
    height: auto;
    margin:50px auto;
    display:block;
    box-shadow: 5px 5px #380E0A;
    background-color: #FFFDFD;
    overflow: scroll;
    padding: 2%;
}

table tr td {
    padding: 10px;
    vertical-align: top;
}

input{
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
}

textarea {
    border: 1px solid black;
    border-radius: 5px;
}
