* {
    font-family: 'Raleway';
    font-size:22px;
    vertical-align: middle;
}
body {
    height: 1500px;
    width: 100%;
}
.menu{
    position: relative;
    top:20px;
    background-color: peachpuff;
    width:100%;
    border: 3px solid white;
    display:block;  
    height: auto;
}

main {
    height: 100%;
    background-color: peachpuff;
    border: 3px solid white;
    width: 100%;
}

.title h1{
    position: relative;
    top: 20%;
    text-transform: uppercase;
    text-align: center;
    border: 9px solid white;
    width:60%;
    margin: auto;
}

h1 {
    font-family: 'Dancing Script';
    font-size: 30px;
    padding: 20px;
}

.menu ul li {
    padding-top: 2%;
    display:inline;
    margin: 40px;
}

.title {
    height: 200px;
    background-image: url("http://www.wallpaperking.co.uk/7348-thickbox_default/collage-multi-colour-grey-wallpaper-2036-1.jpg");
}

#profimg{
    float:left;
    width: 100%;
    position: absolute;
    left:10px;
    top:400px;
    right:10px;
    margin:10px;
    background-color: white;
    height: auto;
}

img {
    border-radius: 50%;
    width: 20%;
    border: 1px solid black;
    position: relative;
    left: 60px;
}

article {
    float: right;
    position: relative;
    top: 5%;
    right: 5%;
    line-height:1.6;
    background-color:white;
    width: 60%;
    height: auto;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px grey;
    border: 1px solid black;
    font-size: 150%;
    overflow: scroll;
}

article p::first-letter{
    font-size: 30px;
    text-transform: uppercase;
}

#contact {
    clear: both;
    height: auto;
    padding: 20px 30px;
    
}

td{
    padding: 3px;
}

footer {
    height: auto;
    background-color: mintcream;
    border: 1px solid black;
    bottom: 5px;
    width: 100%;
    text-align: center;
    
}
footer p {
    font-size: 15px;
}

footer ul li{
    list-style: none;
    display: inline;
    
}
.fa {
    padding: 20px;
    font-size: 50px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: white;
    border-radius:50%;
    background-color: blue;
}

article p {
    padding-left: 20px;
}

.button {
    width: 100%;
    height: 100%;
}

#contact{
    width:50%;
    height: auto;
    margin:50px auto;
    
    display:block;
    border: 1px solid black;
    box-shadow: 5px 5px grey;
    border-radius: 5px;
    background-color: white;
    overflow: scroll;
}

table tr td {
    padding: 10px;
    vertical-align: top;
}

input{
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
}

textarea {
    border: 1px solid black;
    border-radius: 5px;
}
