footer ul li{
    height: 48px;
    width: 48px;
}
@each $icon in facebook, instagram, linkedin, twitter{
    .icn-#{$icon} {
        background: url(../img/icn-#{$icon}.png) no-repeat left top;
    }
}