$primary-color:#BC1101 ;
$secondary-color:#FE948A;
$tertiary-color: #FFFDFD;
$alternative-color:#380E0A;
* {
    font-family: 'Raleway';
    font-size:18px;
    text-align: center;
    align-items: center;
}
body {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
header{
    background: linear-gradient(45deg,$primary-color,$secondary-color);
    color: $alternative-color;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.title{
    text-transform: uppercase;
    border: 10px solid $tertiary-color;
    width:60%;
    margin: 2% 0;
}
nav {
    background-color:$secondary-color;
    color: $alternative-color;
    border: 1px solid $tertiary-color; 
    width: 100%;
}
a {
    color: $alternative-color;
    text-decoration:none;
}
h1 {
    font-family: 'Dancing Script';
    font-size: 40px;
}
main {
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;
    width: 100%;
}
ul li{
    margin: 2%;
    display: inline-flex;
}
section {
    width: 90%;
    background-color: $tertiary-color;
    margin: 2% 0;
    box-shadow: $primary-color 5px 5px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}
#profimg {
    width: 40%;
}
img {
    width: 90%;
    border: 5px solid $alternative-color;
    padding: 1%;
}
article {
    line-height:1.4;
    background-color:$tertiary-color;
    p::first-letter{
        font-size: 30px;
        text-transform: uppercase;
    }
}
#name {
    text-transform: capitalize;
}
footer {
    background-color: $alternative-color;
    color: $secondary-color;
    width: 100%;
}
footer p {
    font-size: 15px;
}
ul {
    padding-left: 0;
}
footer ul li{
    font-size: 24px;
}
.fa {
    padding: 20px;
    width: 30px;
    color: $tertiary-color;
    border-radius:50%;
    background-color:$secondary-color;
} 
input{
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
}
textarea {
    border-radius: 5px;
}